.Standings {
  padding-top: 10%;
}

.standRow {
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 10px;
}

.standBody {
  background: #088f8f;
}

.leftData {
  flex-basis: 40%;
  align-items: center;
}

.middleData {
  flex-basis: 40%;
}

.rightData {
  flex-basis: 15%;
}

.rank {
  flex-basis: 10%;
}

.image {
  flex-basis: 20%;
}

.team-name {
  flex-basis: 70%;
}

.heading {
  background: white;
  color: #088f8f;
  padding: 5px 0;
}

.stand-data {
  flex: 1;
}

.team-logo {
  width: 80%;
}

@media only screen and (min-width: 768px) {
  .team-logo {
    width: 50%;
  }
}
