/* .Standings {
  margin: 0 10%;
  padding: 20px 0 0 0;
} */

.standRow {
  background: #088f8f;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 10px;
}

.leftData {
  flex-basis: 40%;
  align-items: center;
}

.middleData {
  flex-basis: 40%;
}

.rightData {
  flex-basis: 15%;
}

.rank {
  flex-basis: 10%;
}

.image {
  flex-basis: 20%;
}

.team-name {
  flex-basis: 70%;
}

.stand-data {
  flex: 1;

  /* border: 1px solid black; */
}

.team-logo {
  width: 80%;
}

@media only screen and (min-width: 768px) {
  .team-logo {
    width: 50%;
  }
}
